$backColorInput: #FFFFFF;
$backColorString: #eea467;
$backColorNumber: #bf3fcf;
$darkScreenHybrid: rgb(0, 0, 0);

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    height: 100vh;
    max-width: 1900px;
    
    .appBoard {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        min-width: 1400px;
    }
    
    .inputData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $backColorInput;
    };
    
    .stringData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $backColorString;
        color: white;
    };
    
    .numberData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $backColorNumber;
        color: white;
    };
    
    .hybridData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $darkScreenHybrid;
        color: white;
    };
};

